* {
  margin: 0;
  padding: 0;
  color: rgb(235, 235, 235);
  font-weight: 600;
  font-size: 1.1rem;
  user-select: none;
  font-family: sans-serif;
  box-sizing: border-box;
}

html,
body {
  background-color: rgb(10, 10, 10);
  cursor: none;
}

h1 {
  font-size: 1.3rem;
}

h1,
p {
  margin: 1rem;
}

h1,
footer {
  transition: opacity 8s ease-in-out;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

#top-right {
  position: absolute;
  top: 0;
  right: 0;
  letter-spacing: 0.1em;
}

#bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
}

#bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
}
