body,
html {
  padding: 0;
  margin: 0;
  background: black;
  font-family: sans-serif;
}

footer {
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
}

p {
  color: white;
  margin: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
}

a,
a:visited {
  color: white;
}

#heart {
  font-size: 1.6rem;
}
