body,
html {
  padding: 0;
  margin: 0;
  background: rgba(0, 0, 0, 0);
  font-family: sans-serif;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

footer {
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
}

p {
  color: white;
  margin: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
}

a,
a:visited {
  color: white;
}

#heart {
  font-size: 1.6rem;
}
